<html>
    <head>
        <title>FORM</title>
    </head>
    <body style="background:linear-gradient(to right, #9999ff 0%, #66ffcc 100%);">
        <div style="background: white;     width: 500px;height: 500px;margin-top: 75px;margin-left: 400px;">
            <form style="text-align: center;">
                <h1 style="margin: 0px;padding: 55px;padding-bottom: 25px;padding-top: 60px">CREATE ACCOUNT</h1>        
                <input type="textbox" placeholder="Name" style=" width: 380px;height: 40px;padding-left: 5px;margin: 5px; "/><br>
                <input type="textbox" placeholder="Your Email" style="width: 380px;height: 40px;padding-left: 5px;margin: 5px;margin: 20px; "/><br>
                <input type="textbox" placeholder="Password" style="width: 380px;height: 40px;padding-left: 5px;margin: 5px;margin-bottom: 20px;"/><br>
                <input type="password" placeholder="Repeat Your Password"style="width: 380px;height: 40px;padding-left: 5px;margin: 5px;margin-bottom: 20px;"/><br>
                <label style="padding-right: 100px;">
                    <input type="checkbox"> 
                    I agree all statements in <u>Terms of service</u><br>  
                </label>
                
                <a href="confirm.html" style="width: 380px;height: 40px;margin: 25px;background:linear-gradient(to right, #9999ff 0%, #66ffcc 100%);"><button >signin</button></a> 
              
            </form>
        </div>
    </body>
    
</html>